.label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-2-text);
}

.input {
  border: 1px solid var(--opacity-neutral-darkest-15);
  outline: none;
  border-radius: 6px;
  padding: 8px;
  width: 100%;
  max-width: 100%;
  min-height: 40px;

  background-color: var(--color-scheme-2-foreground);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-2-text);

  transition:
    border-color 0.3s,
    color 0.3s;
}

.input::placeholder {
  color: var(--opacity-neutral-darkest-60);
}

.input:hover,
.input:focus-visible {
  border-color: var(--color-scheme-1-accent);
}

.errorInput {
  border-color: var(--color-red);
  color: var(--color-red);
}
.errorInput:hover,
.errorInput:focus-visible {
  border-color: var(--color-red);
}
.error {
  display: block;
  margin-top: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-red);
}

@media screen and (min-width: 1440px) {
  .input {
    font-size: 18px;
    min-height: 43px;
  }
}
