.label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-2-text);
}

.select {
  position: relative;

  border-radius: 6px;

  background-color: var(--color-scheme-2-foreground);
  border: 1px solid var(--opacity-neutral-darkest-15);
  width: 100%;

  transition: border-color 0.3s;
}

.select:not(.errorBorder):focus-within {
  border-color: var(--color-scheme-1-accent);
}

.selectOpen {
  border-color: var(--color-scheme-1-accent);
  border-bottom: none;
  border-radius: 6px 6px 0 0;
}

.selectOpen.openUp {
  border-top: none;
  border-bottom: 1px solid var(--color-scheme-1-accent);
  border-radius: 0 0 6px 6px;
}

.selectInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 6px;
  width: 100%;
  min-height: 40px;
  padding: 8px;
  text-align: left;

  background-color: transparent;
  outline: none;

  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-dark);

  cursor: pointer;
}

.selectedInput {
  color: var(--color-scheme-2-text);
}

.selectIcon {
  fill: var(--opacity-neutral-darkest-60);
}

.selectIconOpen {
  transform: rotate(180deg);
}

.selectList {
  position: absolute;
  left: -0.5px;
  top: 100%;
  z-index: 10;
  width: calc(100% + 1px);
  max-height: 290px;
  overflow-y: auto;

  border-radius: 0 0 6px 6px;
  padding: 8px;
  background-color: var(--color-scheme-2-foreground);
  border: 1px solid var(--color-scheme-1-accent);
  border-top: none;

  scrollbar-width: thin;
  scrollbar-color: var(--color-scheme-1-accent) transparent;
}

.selectList.openUp {
  top: auto;
  bottom: 100%;
  border-radius: 6px 6px 0 0;
  border: 1px solid var(--color-scheme-1-accent);
  border-bottom: none;
}

.selectButton {
  border-radius: 4px;
  padding: 8px 4px;
  width: 100%;
  min-height: 35px;

  border: none;
  background-color: transparent;

  text-align: left;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-2-text);

  transition: background-color 0.3s;

  cursor: pointer;
}

.selectedButton {
  background-color: var(--color-coral-light);
}

.selectButton:focus-visible:not(.selectedButton),
.highlightedButton:not(.selectedButton) {
  background-color: var(--color-scheme-2-background);
}

.error {
  display: inline-block;
  margin-top: 8px;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-red);
}
.errorBorder {
  border-color: var(--color-red);
}

@media (hover: hover) and (pointer: fine) {
  .select:not(.errorBorder):hover {
    border-color: var(--color-scheme-1-accent);
  }
  .selectButton:hover:not(.selectedButton) {
    background-color: var(--color-scheme-2-background);
  }
}

@media screen and (min-width: 1440px) {
  .selectInput {
    font-size: 18px;
  }

  .selectButton {
    font-size: 18px;
  }

  .label {
    font-size: 18px;
  }
}
