.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-coral-dark);
  background-color: var(--color-coral-dark);
  border-radius: 6px;
  padding: 6px 12px;
  min-height: 48px;

  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);

  cursor: pointer;

  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s,
    opacity 0.3s;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus-visible {
  background-color: var(--color-coral-lighter);
  color: var(--color-scheme-2-text);
}

.button:not(:disabled):active {
  background-color: var(--color-coral-dark);
  color: var(--color-white);
  border-color: var(--opacity-transparent);
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.short {
  min-height: 38px;
}

.secondary {
  border-color: var(--color-scheme-2-border);
  background-color: var(--opacity-neutral-darkest-5);
  color: var(--color-scheme-2-text);
  padding: 4px 10px;
}

.secondary:not(:disabled):hover,
.secondary:not(:disabled):focus-visible {
  background-color: var(--color-coral-dark);
  color: var(--color-white);
  border-color: var(--opacity-transparent);
}

.secondary:not(:disabled):active {
  background-color: var(--color-coral-darker);
}

.error {
  border-color: var(--color-red);
}

@media screen and (min-width: 1440px) {
  .button {
    font-size: 20px;
  }
}
