.form {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.locationPicker {
  margin-bottom: 60px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .buttons {
    max-width: 422px;
    flex-direction: row-reverse;
    gap: 16px;
  }
}
